body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
  font-size: 1.2em;
}
button{
  padding: 10px;
  background-color: #fa14a2;
  cursor: pointer;
  color:#fff;
  border-color: #f8f1f6;
  border-style: solid;
  border-width: medium;
  font-size: 1.2em;
  font-weight: bold;
}

label{
  font-size: 1.2em;
  font-weight: bold;
  color:red;
  text-align: justify;

}

.center{
  position: fixed;
  top:20%;
  left:40%;
  position: 40%;
}

.reg{
  display: flex;
  flex-direction: column;
  float: right;
}

form{
  display: flex;
  flex-direction: column;
}

.connect{
  display: flex;
  flex-direction: column;
  float: left;
}

.container{
  background-color: #efdcf4;
  position: relative;
  width: 100%;
  height: 100%;
}

.login{
  position: fixed;
  width: 35%;
  padding:30px;
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  top:25%;
  left:25%;

}
.loginComponents{
  left: 50%;

}

.comp{
  width: auto;
}

.loginTitle{
  left:50%;
  text-align: center;
}

.chat-box{
  background-color: (169, 115, 255, 0.543);
  position:relative;
  display: flex;
  flex: row;
  height: 100%;
  width: 100%;
}

.member-list{
  position: relative;
  background-color: #f1cdf7f5;
  width: 25%;
  height: 700px;
  top: 0;
  left: 0;
  overflow-y:auto;
  border-radius: 4%;
}

.chat-content{  
  background-color: rgb(214, 176, 222);
  position: relative;
  top: 0;
  width: 74%;
  bottom: 0%;
  height: 700px;
  border-radius: 3%;
  }

.chat-messages{
  background-color: #be9df7f5;
  left: 30%;
  margin-left: 5%;
  margin-right: 5%;
  top: 0;
  height: 89%;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  border-top-left-radius:30px ;
  border-top-right-radius:30px ;
}

.send-message{
  background-color: #be9df7f5;
  margin-right: 5%;
  position: absolute;
  width: 90%;
  bottom: 2%;
  right: 0;
}

.input-message{
  width: 60%;
  margin-left: 23%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-color: #fff;
  overflow-y:auto;
}

ul {
  padding: 0;
  list-style-type: none;
}
.send-button{
  width: 14%;
  background-color: #fa14a2;
  cursor: pointer;
}
.member{
  text-align: justify;
  font-size: x-large;
  padding: 10px;
  background: #bd76ff;
  border:#000;
  cursor: pointer;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
  border-radius: 10px;;
}
.member.active{
  background: blueviolet;
  color:#fff;
}
.member:hover{
  background: rgb(233, 164, 254);
  color:#fff;
}

.avatar{
  font-size:larger;
  font-weight: 600;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:max-content;
  padding: 8px 14px 8px 10px;
  border-radius: 10px;
  color:#000; 
  background-color: rgb(244, 219, 245);
  
}
.avatar.self{
  font-size:larger;
  font-weight: 600;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:max-content;
  float: right;
  background-color: #127cf5;
  color:#fff; 
  padding: 8px 14px 8px 10px;
  border-radius: 10px;
  
}
.self{
  position: relative;
  padding:5px;
  margin: 5px 20px 0px 40px;
  float: inline-end;
}

.other{
  position: relative;
  padding:5px;
  display: flex;
  flex-direction: column;
  margin: 5px 40px 0px 40px;
}
.message-data{
  padding:5px;
}
.message.self{
  justify-content: end;
}

.joiner{
  text-align: center;
  text-transform:lowercase;
  color: #fff;
  position: relative;
  max-width: 80%;
  padding: 10px;
  background-color: rgb(88, 109, 214); /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border-radius: 15px;
  margin: 10px;
}
.joiner::first-letter{
  text-transform:uppercase;
}
.joiner::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: 91%;
	right: auto;
  top: 0%;
	bottom: auto;
	border: 22px solid;
  box-shadow: #ebf749;
  shape-margin: 55px;
	border-color: rgb(88, 109, 214) transparent transparent transparent;
}

#start{
  background-color: #fa14a2;
  border-radius: 30px;
  position: relative;
  font-size: xx-large;
  cursor: pointer;
  width: 20%;
  height: 100px;
  top: 300px;
  left: 40%;
  align-self: center;
}